<footer class="bg-secondary/10 py-8">
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-x-4">
        <img src="/assets/img/logo-ojk.png" alt="OJK" class="h-10" />
        <img src="/assets/img/logo-lps.png" alt="LPS" class="h-10" />

        <div class="text-neutral-600">
          BNI diawasi dan diatur oleh Otoritas Jasa Keuangan dan Bank Indonesia.
          <br />
          BNI merupakan peserta penjaminan Lembaga Penjamin Pinjaman.
        </div>
      </div>

      <p class="text-black">
        &copy; Hak Cipta {{ currentYear }} PT Bank Negara Indonesia (Persero),
        Tbk.
      </p>
    </div>
  </div>
</footer>
