<section
  class="h-screen flex items-center justify-center text-white bg-[url(/assets/img/bg-bni.png)] bg-cover bg-[center_top_-14rem] bg-no-repeat"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-32">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="handleSubmit()"
      class="flex flex-col justify-between h-[28rem] w-[26rem] rounded-xl border-2 backdrop-blur-lg bg-transparent gap-y-8 px-8 py-12"
    >
      <h1 class="text-2xl font-semibold text-center">LOGIN</h1>

      <div class="space-y-10">
        <div>
          <input
            formControlName="username"
            class="w-full"
            type="text"
            class="w-full bg-transparent border-b-2 text-white border-white focus:outline-none pb-2"
            placeholder="User Name"
            required
          />
        </div>
        <div>
          <input
            formControlName="password"
            type="password"
            class="w-full bg-transparent border-b-2 text-white border-white focus:outline-none pb-2"
            placeholder="Password"
            required
          />
        </div>
      </div>

      <button
        type="submit"
        class="mt-12 self-end bg-primary text-primary-foreground px-4 py-1 font-medium rounded-full w-40 text-left disabled:bg-neutral-400 disabled:text-neutral-700"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </form>

    <div class="flex flex-col justify-end">
      <img
        src="/assets/img/logo-tapcash.png"
        alt="TapCash"
        class="w-4/5 mx-auto"
      />

      <p class="text-center text-2xl font-medium mt-10">
        Download Virtual TapCash melalui<br />BNI Mobile Banking pada:
      </p>

      <div class="flex justify-between w-full mt-2">
        <a
          href="https://play.google.com/store/apps/details?id=id.co.bni.tapcashgo"
          norel="noreferrer"
          target="_blank"
        >
          <img
            src="/assets/img/logo-google-play.png"
            alt="BNI Mobile Banking Google Play"
          />
        </a>
        <a
          href="https://apps.apple.com/id/app/bni-tapcash-go/id1563328379"
          norel="noreferrer"
          target="_blank"
        >
          <img
            src="/assets/img/logo-app-store.png"
            alt="BNI Mobile Banking App Store"
          />
        </a>
      </div>
    </div>
  </div>
</section>

<section class="text-center py-20">
  <h1 class="uppercase text-primary text-5xl font-bold">
    Apa itu Virtual TapCash?
  </h1>
  <h2 class="text-primary mt-3 text-2xl font-semibold">
    Virtual TapCash merupakan solusi pembayaran yang lancar, aman, dan ramah
    pengguna.
  </h2>

  <p class="mt-10 text-lg">
    Virtual TapCash merupakan sebuah aplikasi mobile yang dapat menjadi
    alternatif bagi pengguna untuk <br />
    mengelola keuangannya yang telah terintegrasi dengan kartu uang elektronik.
  </p>
</section>

<section class="py-20 bg-primary/30">
  <div class="container mx-auto">
    <h1 class="text-primary text-4xl font-bold text-center">
      Fitur Pada Virtual TapCash
    </h1>

    <div
      class="grid grid-cols-3 gap-x-16 gap-y-24 justify-center content-start mt-20"
    >
      <div *ngFor="let feature of features" class="text-center">
        <img [src]="feature.icon" [alt]="feature.title" class="mx-auto max-h-16" />
        <p class="mt-6 text-2xl font-bold text-primary">{{ feature.title }}</p>
        <p class="text-lg mt-2 text-black max-w-[26rem] mx-auto">
          {{ feature.description }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-10">
  <div class="container mx-auto">
    <div class="grid grid-cols-3 justify-start w-fit gap-x-32 font-medium">
      <div class="flex flex-col">
        <img src="/assets/img/logo-bni.png" alt="Bank BNI" class="h-10 w-fit" />
        <p class="mt-1">PT Bank Negara Indonesia (Persero) Tbk.</p>

        <p class="my-4">Kantor Pusat</p>
        <p class="text-neutral-600">
          Gedung Grha BNI<br />
          Jl. Jendral Sudirman Kav 1, Jakarta Pusat 10220, Indonesia
        </p>

        <p class="mt-4 text-neutral-600">Telefon: +62-21-2511946</p>

        <div class="mt-6 flex gap-x-4 items-center">
          <a
            *ngFor="let link of socialLinks"
            [href]="link.link"
            target="_blank"
            norel="noreferrer"
          >
            <img [src]="link.img" [alt]="link.alt" />
          </a>
        </div>
      </div>

      <div class="flex flex-col">
        <p class="font-medium">Informasi Perusahaan</p>

        <ul class="list-inside mt-4 space-y-3">
          <li *ngFor="let link of informationLinks" class="text-neutral-600">
            <a [href]="link.href" norel="noreferrer">{{ link.label }}</a>
          </li>
        </ul>
      </div>

      <div class="flex flex-col">
        <p class="font-medium">Bantuan dan Dukungan</p>

        <ul class="list-inside mt-4 space-y-3">
          <li *ngFor="let link of supportLinks" class="text-neutral-600">
            <a [href]="link.href" norel="noreferrer">{{ link.label }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="py-8 bg-primary/30">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div class="flex gap-x-4 items-center">
        <img src="/assets/img/logo-ojk.png" alt="OJK" class="h-10" />
        <img src="/assets/img/logo-lps.png" alt="LPS" class="h-10" />

        <div class="text-neutral-600">
          BNI diawasi dan diatur oleh Otoritas Jasa Keuangan dan Bank Indonesia.
          <br />
          BNI merupakan peserta penjaminan Lembaga Penjamin Pinjaman.
        </div>
      </div>

      <p class="text-black">
        &copy; Hak Cipta {{ currentYear }} PT Bank Negara Indonesia (Persero),
        Tbk.
      </p>
    </div>
  </div>
</section>
