<table class="table w-full table-auto">
  <thead>
    <tr class="bg-secondary/10 text-center font-bold text-black">
      <th class="rounded-l-md py-2 pl-12 pr-4 text-left">Waktu Transaksi</th>
      <th class="px-4 py-2 text-center">Jenis Transaksi</th>
      <th class="rounded-r-md py-2 pl-4 pr-12 text-right">Nominal Transaksi</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let transaction of transactions">
      <tr class="border-b last:border-none">
        <td class="py-2 pl-12 pr-4 text-left">
          {{ transaction.date | date: "hh:mm d/MM/y" : "id" }}
        </td>
        <td class="px-4 py-2 text-center">{{ transaction.type }}</td>
        <td class="py-2 pl-4 pr-12 text-right">
          <span
            [ngClass]="{
              'text-secondary': transaction.type === 'Masuk',
              'text-primary': transaction.type === 'Keluar'
            }"
          >
            {{ transaction.type === "Masuk" ? "+" : "-" }}
            {{ transaction.amount | currency: "IDR" : "symbol" : "1.0-0" }}
          </span>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
