<div class="mt-12">
  <h1 class="text-2xl font-bold">Riwayat Transaksi</h1>
  <div class="mt-6">
    <ng-container *ngIf="isLoading; else contentTemplate">
      <div class="mt-20 flex h-full items-center justify-center">
        Memuat data transaksi...
      </div>
    </ng-container>

    <ng-template #contentTemplate>
      <ng-container *ngIf="isError; else accountTemplate">
        <div class="mt-20 flex h-full items-center justify-center">
          Terjadi kesalahan memuat data transaksi: {{ errorMessage }}
        </div>
      </ng-container>

      <ng-template #accountTemplate>
        <table-transaction [transactions]="transactions"></table-transaction>
      </ng-template>
    </ng-template>
  </div>
</div>
